{%extends 'base.html'%}
{%block content%}
<div class="container" style="margin-top: 3%;">
    <div class="row">
        <div class="col text-center flex-column" style="text-align: center;">
            <p>You can find me on:</p>
            <a id="contact-links" class="btn btn-outline-light btn-lg" href="https://www.linkedin.com/in/fjoni-yzeiri-9770471aa/" role="button">Linkedin</a>
            <a id="contact-links" class="btn btn-outline-light btn-lg" href="https://www.github.com/fjoniyz" role="button">GitHub</a>
            <p style="margin-top: 3%;">Or if you'd like to play a game of chess, hit me up on Lichess:</p>
            <a id="contact-links" class="btn btn-outline-light btn-lg" href="https://lichess.org/@/fjoniyzeiri" role="button">Lichess</a>
            <p style="margin-top: 2%;">Or you can email me at: <a style="color: rgb(179, 166, 166);" href="mailto:fjoniyzeiri@gmail.com">fjoniyzeiri@gmail.com</a></p>
        </div>
    </div>
</div>
{%endblock content%}